body{
    background-color:rgb(185, 206, 148);
    color:rgb(110, 57, 22);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
/* Otro tipo de letra, Google Fonts, seleccionas una, el tipo , use on the web, copia el link, pegar en head de html, copiar siglas CSS y pegarlas en body, estilos*/
/*Asi se pone  un comentario*/


h1, p{
    color:black;
    
    }

    h2{
        color:brown;
     
    }
    
.img1 { width: 280px;
    height: 280px;
    border-style: dashed;
    border-width: 5px;
    border-color:darkcyan;
    margin-left: 60px;
    margin-bottom: 22px;
    margin-top: 60px;
}
.img2 {width: 280px;
    height: 280px;
    border-style: dashed;
    border-width: 5px;
    border-color:darkcyan;
    margin-left: 60px;
    margin-bottom: 22px;
    margin-top: 60px;
    
}

footer{ background-color: beige;}
small, a{
    color:chocolate
    padding-botto
}